{% extends "::base.html.twig" %}

{% block title %}Simples Blog{% endblock %}

{% block content %}

    <div class="container">

        <div class="row">

            {{ knp_pagination_render(pagination) }}  {# Queremos que nossa paginação fique aqui #}

            <div class="col-lg-12">

            {#{% for post in posts %}#}

            {% for post in pagination %}

                <article class="col-lg-4">

                    <div class="thumbnail">

                        {#<a href="{{ path('show', { 'id': post.id }) }}">#}

                        <a href="{{ path('show', { slug: post.slug }) }}"> {#  substituimos todos os id's pelo slug #}

                            <img class="img-responsive" src="{{ asset( post.getCoverWeb ) }}" alt="{{ post.cover }}" title="{{ post.cover }}"/>

                        </a>

                        <div class="caption">

                            <h3><a href="{# {{ path('show', { 'id': post.id }) }} #} {{ path('show', { slug: post.slug }) }}">{{ post.title }}</a></h3>

                            <p>Escrito por: {{ post.author.name }}</p>

                            <p>{{ post.content|slice(0, 45) }} ...</p>  {# o 'slice(0, 45)' corta o texto começando do 0 até 45 caracteres #}

                            <p><a href="{# {{ path('show', { 'id': post.id }) }} #} {{ path('show', { slug: post.slug }) }}">Leia mais...</a></p>

                        </div>

                    </div>

                </article>

            {% endfor %}


            </div>

        </div>

        {{ knp_pagination_render(pagination) }}  {# Queremos que nossa paginação fique aqui tbm #}

    </div>


{% endblock %}

